{% for field in form %}
<div class="row">
    <label class="col-sm-2 control-label text-right">
        {{ field.field.label }}
    </label>
    <div class="col-sm-7">
        {% if field.is_readonly %}
        <div class="readonly" style="margin-top: 7px;">{{ field.contents }}</div>
        {% else %}
        {{ field }}
        {% endif %}
        {% if field.field.help_text %}
        <div class="help-block">{{ field.field.help_text|safe }}</div>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <div class="help-block text-red">
            {% if not field.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
        </div>
    </div>
</div>
{% endfor %}
