*.egg-info
*.pyc
.DS_Store
.coverage
.idea
.tox
.venv
.env
.vscode
.vim
/diffs
/build
/dist
*.reports
__pycache__
_resource
admin_templates
admindocs_templates
*.sqlite3
tests/test_app/static/
.python-version
