{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}

<ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Server error' %}</li>
</ol>
{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content_title %} {% trans 'Server Error <em>(500)</em>' %} {% endblock %}

{% block content %}

<p>{% trans "There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}</p>

{% endblock %}
