{% extends 'admin/base.html' %}
{% load i18n jazzmin %}

{% get_jazzmin_settings as jazzmin_settings %}

{% block title %}{{ title }} | {{ jazzmin_settings.site_title }}{% endblock %}

{% block page_content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{% block content_title %}{% endblock %}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                {% block breadcrumbs %}{% endblock %}
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <!-- Content -->
        <section id="content" class="content">
            {% block messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-check"></i>{{ message|capfirst }}</h5>
            </div>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-ban"></i>{{ message|capfirst }}</h5>
            </div>
            {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-exclamation-triangle"></i>{{ message|capfirst }}</h5>
            </div>
            {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-info"></i>{{ message|capfirst }}</h5>
            </div>
            {% endif %}
            {% endfor %}
            {% endblock messages %}
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </section>
        <!-- END Content -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

{% endblock %}

{% block footer %}
<!-- To the right -->
<div class="float-right d-none d-sm-inline">
    <b>Jazzmin Version</b> {% get_jazzmin_version %}
</div>
<!-- Default to the left -->
<strong>Copyright &copy; {% now 'Y' %} {{ jazzmin_settings.copyright }}.</strong> All rights reserved.
{% endblock %}

{% block extrajs %} {% endblock %}
