{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
    <li class="breadcrumb-item">{% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
    <li class="breadcrumb-item active">{% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
</ol>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="col-md-12">
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
      <ul class="object-tools">
        {% block object-tools-items %}
          {% change_form_object_tools %}
        {% endblock %}
      </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
        {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
        {% if errors %}
            <p class="errornote">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ adminform.form.non_field_errors }}
        {% endif %}

        {% block field_sets %}
            <ul class="nav nav-tabs" role="tablist">
                {% for fieldset in adminform %}
                    <li class="nav-link{% if forloop.first %} active{% else %} d-none d-sm-inline-block{% endif %}"><a data-toggle="pill" role="tab" href="#{{ fieldset.name|default:"General"|slugify }}">{{ fieldset.name|default:"General" }}</a></li>
                {% endfor %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    <li><a data-toggle="tab" href="#{{ inline_admin_formset.opts.verbose_name_plural|slugify }}">{{ inline_admin_formset.opts.verbose_name_plural }}</a></li>
                {% endfor %}
            </ul>
            <br>
            <div class="tab-content">
                {% for fieldset in adminform %}
                    <div id="{{ fieldset.name|default:"General"|slugify }}" class="tab-pane fade{% if forloop.first %} active show{% endif %}" role="tabpanel">
                        {% include "admin/includes/fieldset.html" %}
                    </div>
                {% endfor %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    <div id="{{ inline_admin_formset.opts.verbose_name_plural|slugify }}" class="tab-pane">
                        {% include inline_admin_formset.opts.template %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block after_field_sets %}{% endblock %}

        {% block inline_field_sets %}
        {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
        {% endfor %}
        {% endblock %}

        {% block after_related_objects %}{% endblock %}

        {% block submit_buttons_bottom %}
        <div class="row col-8 float-right">
            {% submit_row %}
        </div>
        {% endblock %}

        {% block admin_change_form_document_ready %}
            <script type="text/javascript"
                    id="django-admin-form-add-constants"
                    src="{% static 'admin/js/change_form.js' %}"
                    {% if adminform and add %}
                        data-model-name="{{ opts.model_name }}"
                    {% endif %}>
            </script>
        {% endblock %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}
