{% if show %}
    <div class="btn-group date-hierarchy text-sm">
        {% block date-hierarchy-toplinks %}
            {% block date-hierarchy-back %}
                {% if back %}
                    <a class="btn btn-outline btn-secondary" href="{{ back.link }}">&lsaquo; {{ back.title }}</a>
                {% endif %}
            {% endblock %}
            {% block date-hierarchy-choices %}
                {% for choice in choices %}
                    <a {% if choice.link %}href="{{ choice.link }}" class="btn btn-outline-primary"{% else %}class="btn btn-outline-primary active"{% endif %}>
                        {{ choice.title }}
                    </a>
                {% endfor %}
            {% endblock %}
        {% endblock %}
    </div>
    <hr class="clear"/>
{% endif %}
