{% load i18n jazzmin %}
{% trans "General" as general_tab %}
{% get_sections adminform inline_admin_formsets as forms %}

{% block tabs %}
<ul class="nav nav-tabs mb-3" role="tablist" id="jazzy-tabs">
    {% for fieldset in forms %}
        {% with base=fieldset.name|default:general_tab|unicode_slugify %}
        <li class="nav-item">
            <a id="{{ base }}-tab-link-{{ forloop.counter }}" class="nav-link{% if forloop.first %} active{% endif %}" data-bs-toggle="pill" role="tab" aria-controls="{{ base }}-tab-{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" href="#{{ base }}-tab-{{ forloop.counter }}">
                {{ fieldset.name|default:general_tab }}
            </a>
        </li>
        {% endwith %}
    {% endfor %}
</ul>
{% endblock tabs %}

<div class="tab-content">
    {% for fieldset in forms %}
        {% with base=fieldset.name|default:general_tab|unicode_slugify %}
        <div id="{{ base }}-tab-{{ forloop.counter }}" class="tab-pane fade{% if forloop.first %} active show{% endif %} {{ fieldset.classes }}" role="tabpanel" aria-labelledby="{{ base }}-tab-link-{{ forloop.counter }}">
            {% if fieldset.is_inline %}
                {% include fieldset.opts.template with inline_admin_formset=fieldset %}
            {% else %}
                {% include "admin/includes/fieldset.html" with card=True %}
            {% endif %}
        </div>
        {% endwith %}
    {% endfor %}
</div>
