{% load i18n admin_urls %}

{% block submit-row %}
<div class="form-group">
    {% if show_save %}<input type="submit" value="{% trans 'Save' %}"
                             class="btn btn-default form-control"
                             name="_save">{% endif %}
</div>
{% if show_delete_link and original %}
<div class="form-group">
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a href="{% add_preserved_filters delete_url %}"
       class="btn btn-danger form-control">{% trans "Delete" %}</a>
</div>
{% endif %}
{% if show_save_as_new %}
<div class="form-group">
    <input type="submit" class="btn btn-primary"
           value="{% trans 'Save as new' %}" name="_saveasnew">
</div>
{% endif %}
{% if show_save_and_add_another %}
<div class="form-group">
    <input type="submit" class="btn btn-primary form-control"
           value="{% trans 'Save and add another' %}"
           name="_addanother">
</div>
{% endif %}
{% if show_save_and_continue %}
<div class="form-group">
    <input type="submit"
           class="btn btn-primary form-control"
           value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}"
           name="_continue"></div>
{% endif %}
{% if show_close %}
<div class="form-group"><a
        href="{% url opts|admin_urlname:'changelist' %}"
        class="btn btn-danger form-control">{% trans 'Close' %}</a>
</div>
{% endif %}
{% endblock %}

