---
name: Deploy to test.pypi.org
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Install uv
        run: pip install uv

      - name: Bump version and build
        run: |
          make deps
          make version-prerelease
          make build

      - name: Save build
        uses: actions/cache/save@v4
        id: build-cache
        with:
          path: dist/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Install uv
        run: pip install uv

      - name: Get build
        uses: actions/cache/restore@v4
        with:
          path: dist/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Deploy to test.pypi.org
        if: github.ref == 'refs/heads/main'
        env:
          TEST_PYPI_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}
        run: make publish-test-only || true

      - name: Deploy to test.pypi.org (Dry Run)
        if: github.ref != 'refs/heads/main'
        env:
          TEST_PYPI_TOKEN: ${{ secrets.TEST_PYPI_TOKEN }}
        run: make publish-test-only || true

  update_release_draft:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    needs: deploy
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
