---
name: Deploy to pypi.org
on:
  release:
    types: published

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Install uv
        run: pip install uv

      - name: Set version from tag
        run: make version VERSION=${GITHUB_REF_NAME#v}

      - name: Deploy to pypi.org
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: make publish
